.loginContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.loginTxt {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.loginp1{
    margin: 5px 0;
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    color: var(--dark-grey);
    font-size: 12px;
    font-weight: 600;
    background-color: #D8D9DA;
    transition: transform 0.3s ease;
}

.loginp1:focus {
    transform: scale(1.1);
    outline: none;
}

.loginContainer .btn1 {
    margin-top: 35px;
}